.cmsMainBox {
    position: relative;
    margin: 0 0 24px 0;
    text-align: left;
}

.cmsMainBox:after {
	content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.cmsMainBox h4 {
	width: 100%;
	margin: 0;
	padding: 0;
	margin: 0 auto;
	font-size: 24px;
	color: #383735;
	margin-bottom: 10px;
}

.cmsMainBox .cmsMainBoxCon > div, .cmsMainBox .cmsMainBoxCon > p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #383735;
    margin: 0px !important;
    padding: 0px !important;
}

.cmsMainBox img {
    display: block;
    max-width: 100%;
    width: auto;
    height: auto;
    margin: 0 auto;
}

.cmsMainBox textarea {
    width: 100%;
    max-width: 100%;
}

.cmsMainBox iframe, 
.cmsMainBox embed, 
{
    width: 100%;
    margin: 0 auto;
}

.cmsMainBox .cmsMainBoxCon .fl {
    float: left !important;
    width: 300px !important;
    margin: 0 30px 15px 0 !important;
    padding-top: 5px !important;
}
.cmsMainBox .cmsMainBoxCon .fr {
    float: right !important;
    width: 300px !important;
    margin: 0 0 15px 30px !important;
    padding-top: 5px !important;
}
.cmsMainBox .fl img, 
.cmsMainBox .fr img {
    display: block;
    width: auto !important;
    height: auto !important;
}
.cmsMainBox .cmsMainBoxCon .fl .caption, 
.cmsMainBox .cmsMainBoxCon .fr .caption {
    text-align: left !important;
    background: #e9e9e9;
    padding: 10px;
}
.cmsMainBox .fl + .float-box ul li, 
.cmsMainBox .fl + .float-box ol li {
    margin-left: 0 !important;
    padding-left: 0 !important;
    list-style: decimal inside !important;
}
.cmsMainBox .cmsMainBoxCon > .caption {
    padding: 10px 0 !important;
    text-align: center !important;
    background: #e9e9e9;
    padding: 10px;
}

.cmsMainBox .caption, .cmsMainBox .caption p {
    background: #e9e9e9;
    padding: 10px;
    margin: 0 !important;
}